.header{
    border-bottom: 1px solid #E0DFDE;
}
.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    font-family: 'Inika', serif;
}
.header__spacer {
    width: 100px;
}
.header__logo {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX( -50%);
    text-align: center;
}
.header__logo span {
    font-size: 40px;
    color: #8B7969;
}
.header__nav {
    width: 100px;
    display: flex;
    justify-content: center;
}
